.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 9;
}
.first{
  position: absolute;
  height: 720px;
  width: 405px;
  background-repeat: no-repeat !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-size: cover !important;
  border: 1px solid rgba(255,255,255,.08);
  background-position: center !important;
  border-radius: 5px;
  transition: .3s;
  z-index: 99;
}
.progress {
    width: 394px;
    height: 3px;
    border-radius: 3px;
    background: rgba(255,255,255,.3);
    transform: translateY(15%) translateX(-50%);
    left: 50%;
    position: absolute;
    z-index: 9;
    top: -2.5%;
}
.close{
  border: 0;
  background: transparent;
  color: #eee;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Ubuntu';
  cursor: pointer;
  font-weight: 100;
  position: absolute;
  right: -10%
}
.bar{
  width: 0px;
  height: 2.8px;
  background: #aaa;
  transition: 9.8s
}
@media screen and (max-width:600px){
.first{
  height: 100% !important;
  width: 100% !important;
  }
 .progress{
    width: 98%;
    top: 1.5%;
  }
}

.loader{
  border: 6px solid rgba(255,255,255,.3);
  border-top: 6px solid #ccc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation: spin 4s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter:blur(.8px);
}

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg) }
  100% {  transform:translate(-50%,-50%) rotate(1080deg)}
}


@media screen and (max-width:600px){
  .close{
  color: #eee;
  text-shadow: 0 0 3px black;
  right: 1% !important;
}
}